.image.small
    img
        max-width: 1em
        max-height: 1em
        vertical-align: inherit
    &.ct
        img
            vertical-align: sub

.bttf
    font-size: 4em;
    -webkit-text-stroke: 0.009em #1EB8E7;
    background: -webkit-linear-gradient(#E62A00 24%,#F15A00 37% ,#FF9A00 53%,#FFDC00 77%);
    padding: 0.1em 1em;
    line-height: 1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    .small-shadow
        -webkit-text-stroke: 0.009em #1eb8e7;
        float: right;
        margin-top: -2.5rem;
        margin-right: -4rem;
    &.reversed
        margin-top: -0.4em;
        background: -webkit-linear-gradient( #FFDC00 24%, #FF9A00 37%, #F15A00 53%, #E62A00 77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

.image_slide
    position: absolute;
    height:  33%;
    max-width: 33%;
    figcaption
        text-align  center
        font-size: 0.7em
    img
        max-width 100%
        max-height 100%
    &.lower
        bottom: 5%;
        &.bespoke-bullet-inactive
            bottom: -100%
    &.right
        right: 5%;
        &.bespoke-bullet-inactive
            right: -100%
    &.upper
        top: 5%;
        &.bespoke-bullet-inactive
            top: -100%
    &.left
        left: 5%;
        &.bespoke-bullet-inactive
            left: -100%
    &.captioned
        padding: 10px 10px 40px;
        background: white;
        box-shadow: 0px 3px 5px 0px $gray
    &.bigger
        height: 60%
        max-width: 60%
        
.credit
    position: absolute
    bottom: 0
    right: 5px
    font-size: 0.5em

.canvas.full-width
    img
        max-width:100%;

ul
    //list-style-type none;

.bespoke-bullet
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

.beta-marker
    font-size: 3em
    color: $darkBlue

.book-canvas
    h2
        position: absolute
        left: calc(50% + 2rem)
        top: calc(50% - 12rem)
        width: 20%
        text-align: center

.right_picture
    position: absolute
    right: 15px
    top: 20%
    max-width:50%

.right_list
  position: absolute
  right: -50%
  top: 20%
  max-width: 50%

.code_columns
    max-width 100%
    max-height 100%

code
    font-size 0.8em
figure.center img 
    display inherit
    margin 0 auto

.section-link,.get, .post
  display:none;


.header-action
  font-size: 0.5em;
  color $color-accent
  float: right;
  margin-left: 0.5em;

.header-action:hover
  cursor:pointer;


.modal
  transition height 1s ease-in-out
  height: 0;
  position: fixed;
  //top: 20%;
  bottom: 20%;
  left: 10%;
  right: 10%;
  max-height: 60%;
  background-color: white;
  border-radius: 0.5em;
  overflow: hidden
  .fa-close
      float right
      margin 0.2em
  pre.response
    margin: 0.2em
    height:100%;
    color: darkgreen;
    overflow:scroll;

pre.source ~ .colist
    font-size 24px

span code
    color: $color-accent

.image_grid
    display: grid
    grid-template-columns: 33% 33% 33%;
    justify-items: center
    grid-row-gap: 10%
    &.two_per_row
        grid-template-columns: 50% 50%;
    .image_slide
        padding-bottom: 0
        display: flex
        flex-direction: column
        align-content: center
        position: relative
        height: 100%
        min-width:150px
        img
            margin-top: auto
            max-height: 250px
        figcaption
            margin-top: auto